In [1]:
import pandas as pd

df = pd.DataFrame({
   'Animal': ['Cachorro', 'Gato', 'Elefante', 'Cachorro', 'Gato', 'Elefante'],
   'Cor': ['Preto', 'Branco', 'Cinza', 'Marrom', 'Preto', 'Marrom'],
   'Quantidade': [2, 3, 1, 4, 2, 2]
})
df

     Animal     Cor  Quantidade
0  Cachorro   Preto           2
1      Gato  Branco           3
2  Elefante   Cinza           1
3  Cachorro  Marrom           4
4      Gato   Preto           2
5  Elefante  Marrom           2

In [2]:
df.groupby('Animal').sum(numeric_only=True)

          Quantidade
Animal
Cachorro           6
Elefante           3
Gato               5

In [3]:
df.groupby(['Animal', 'Cor'])[['Quantidade']].sum()

                 Quantidade
Animal   Cor
Cachorro Marrom           4
         Preto            2
Elefante Cinza            1
         Marrom           2
Gato     Branco           3
         Preto            2